# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    exclude:
    - '*'
  tags:
    include:
    - '*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
  - stage: BuildTest
    displayName: Build and Test
    jobs:  
    - job: BuildTest
      displayName: Build and Test
      strategy:
        maxParallel: 3
        matrix: 
          Ubuntu:
            vmImage: 'ubuntu-latest'
          MacOS:
            vmImage: 'macOS-latest'
          Windows:
            vmImage: 'windows-latest'
      steps:
      - task: Docker@2
        displayName: Build the image
        inputs:
          command: build
          dockerfile: '**/Dockerfile'
          tags: |
            latest
      - script: |
          make test
        displayName: 'Test the image'
  - stage: Push
    displayName: Push image
    jobs:
    - job: Push
      displayName: Push to Docker Hub
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - script: |
          VERSION_TAG=`git describe --tags` && echo "##vso[task.setvariable variable=VERSION_TAG]$VERSION_TAG"
        displayName: Set the tag name as an environment variable
      - script: |
          echo $VERSION_TAG
        displayName: Verify that VERSION_TAG is set
      - task: Docker@2
        condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
        inputs:
          containerRegistry: 'Docker Hub'
          repository: floriandahlitz/docker-calibre
          command: buildAndPush
          tags: |
            latest
